
<br>
<section id="formulario">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0 mt-3 float-left">Cadastro de viagem</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Destino</label>
                  <input type="text" id="form6Example1" placeholder="Insira seu destino" class="form-control" />
                </div>
              </div>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Tipo</label>
              <input type="text" id="form6Example3" placeholder="Insira o tipo da viagem" class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Data de chegada</label>
              <input type="date" id="form6Example3" placeholder="Insira a data de chegada" class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Data de saída</label>
              <input type="date" id="form6Example3" placeholder="Insira a data de saída" class="form-control" />
            </div>


            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Orçamento</label>
              <input type="number" format ="currency" precision="2" id="form6Example3" placeholder="Insira o orçamento" class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form6Example3">Qtd. Pessoas</label>
              <input type="text" id="form6Example3" placeholder="Insira a quantidade de pessoas" class="form-control" />
            </div>

            <hr class="my-4" />

            <a class="btn btn-primary mt-2 float-left" style="background-color: darkred;"   [routerLink]="['']"  role="button">Voltar</a>

            <a class="btn btn-primary mt-2 float-right" style="background-color: darkred;"  role="button">Enviar</a>




          </form>
        </div>
      </div>
    </div>


  </div>
</section>
